/*  your css code here. If applicable */
div {
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	place-content: center;
	text-align:center;
	width: 200px;
	height: 200px;
	background-color: lightblue;
	border: 2px solid black;
	color: purple;
}